<p id="notice"><%= notice %></p>

<h1>Listing Essentials</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @essentials.each do |essential| %>
      <tr>
        <td><%= link_to 'Show', essential %></td>
        <td><%= link_to 'Edit', edit_essential_path(essential) %></td>
        <td><%= link_to 'Destroy', essential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Essential', new_essential_path %>
